<div class="modal-header">
    <h4 class="modal-title">{{person_id ? 'Modificare' : 'Adăugare'}} persoană</h4>
</div>

<div class="modal-body">
    <div class="row">
        <label class="col-2 control-label">Nume</label>
        <div class="col-4">
            <input required #lastName="ngModel" [(ngModel)]="modal.last_name" [class.is-invalid]="lastName.invalid && lastName.touched"  
            class="form-control" placeholder="Nume..." maxlength="255" />
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Câmpul "Nume" este obligatoriu</small>
        </div>

        <label class="col-1 control-label">Prenume</label>
        <div class="col-4">
            <input required #firstName="ngModel" [(ngModel)]="modal.first_name"  [class.is-invalid]="firstName.invalid && firstName.touched" 
            class="form-control" placeholder="Prenume..." maxlength="255" />
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Câmpul "Prenume" este obligatoriu</small>
        </div>
    </div>

    <div class="row">
        <label class="col-2 control-label">CNP</label>
        <div class="col-4">
            <input required #cnp="ngModel" pattern="^\d{13}$" [(ngModel)]="modal.cnp" [class.is-invalid]="cnp.invalid && cnp.touched" 
            class="form-control" placeholder="CNP..." maxlength="13"/>
            <div *ngIf="cnp.errors && (cnp.valid || cnp.touched)">
                <small class="text-danger" *ngIf="cnp.errors?.['required']">Câmpul "CNP" este obligatoriu</small>
                <small class="text-danger" *ngIf="cnp.errors?.['pattern']">Câmpul "CNP" trebuie să conțină 13 cifre</small>
            </div>
        </div>

        <label class="col-1 control-label">Vârstă</label>
        <div class="col-4">
            <input type="number" required #age="ngModel" [value]="calculateAge(modal.cnp)" [(ngModel)]="modal.age" 
            [class.is-invalid]="age.invalid && age.touched" class="form-control" placeholder="Vârsta..." maxlength="3" />
            <small class="text-danger" [class.d-none]="age.valid || age.untouched">Câmpul "Vârstă" este obligatoriu</small>
        </div>
    </div>

    <div class='row'>
        <label class='col-2 control-label'>Mașini deținute</label>
        <div class='col-9'>
            <ng-select [multiple]='true' [items]='cars' [(ngModel)]='modal.car_list'>
                <ng-template ng-label-tmp let-item='item' let-clear='clear'>
                    <span class='ng-value-icon' (click)='clear(item)'>×</span>
                    {{item.brand_name}} {{item.model_name}} ({{item.year}}) ({{item.cilindrical_capacity}}) ({{item.tax}})
                </ng-template>
                <ng-template ng-option-tmp let-item='item'>
                    {{item.brand_name}} {{item.model_name}} ({{item.year}}) ({{item.cilindrical_capacity}}) ({{item.tax}})
                </ng-template>   
            </ng-select>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Renunță</button>
    <button type="submit" class="btn btn-success" (click)="save()">Salvează</button>
</div>